/* Responsive here */
/* ************************* */
/* all devices up to 680px 
------------------------------------------------------- */
@media only screen and (max-width: 880px)
{
	h1 { text-align: center; display: block; width: 100%; float: none; }
	.bwfloatright { float: none; text-align: left; display: block; clear: both; margin-top: 1rem;}
	.bwcentertext { text-align: left; }
	.fwidth { width: 95%; margin: 0 auto; }
	.bwcell4, .bwcell33,
	 .w33 {
		width: 50%;
	 }
	#move_sidebar {
		padding-left: 0 !important;
	}
}

/* assumed touch devices over 680px
------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 881px),
only screen and (min--moz-device-pixel-ratio: 1.5) and (min-width: 881px),
only screen and (-o-device-pixel-ratio: 3/2) and (min-width: 881px), 
only screen and (min-device-pixel-ratio: 1.5) and (min-width: 881px)
{
	h1 { text-align: left !important; width: auto; float: left; }
	.bwfloatright { float: right; text-align: right; display: block; clear: right; margin-top: 0;}
	.bwcentertext { text-align: center; display: block; clear: both; margin-top: 0;}
	.fwidth { width: 80%; margin: 0 auto; }
}

/* max for desktop
------------------------------------------------------- */
@media only screen and (max-width: 1199px) {
	.fwidth { width: 80%; margin: 0 auto; }
}

/* assumed touch devices up to 880px
------------------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5),
only screen and (max-width: 880px)
{
	.bwcell1, .bwcell2,
	.bwcell3, .bwcell4,
	.bwcell5, .bwcell6,
	.bwcell7, .bwcell8,
	.bwcell9, .bwcell10,
	.bwcell11, .bwcell12,
	.bwcell13, .bwcell14,
	.bwcell15, .bwcell16,
	.bwcell33, .w33 { 
		width: 100%;
	 }
	.w1 { width: 25% !important; }
	.w2 {	width: 25% !important; }
	.w3 {	width: 25% !important; }
	.w4 {	width: 25% !important; }
	.w5 {	width: 50% !important; }
	.w6 {	width: 50% !important; }
	.w7 {	width: 50% !important; }
	.w8 {	width: 50% !important; }
	.w9 {	width: 75% !important; }
	.w10 { width: 75% !important; }
	.w11 { width: 75% !important; }
	.w12 { width: 75% !important; }
	.w13 { width: 75% !important; }
	.w14 { width: 100% !important; }
	.w15 { width: 100% !important; }
	.w16 { width: 100% !important; }
	.w33 { width: 33% !important; float: left;}
	.gutter,.gutter2 { padding: 0 !important; }
	#search_form2_input, #search_form2 { width: 100% !important; }
	.fwidth { width: 100%; padding: 0 1rem; margin: 0 auto; box-sizing: border-box; }
	#site_slogan {
		margin: 0;
		padding: 0 0 0 0.5rem;
		border-left: none;
	}
	#move_sidebar {
		padding-left: 0;
	}
	table.table_grid { border-collapse: collapse; table-layout: fixed; display: block; width: 100%; }
	table.table_grid, table.table_grid tbody, table.table_grid tr, table.table_grid td { display: block; }
	table.table_grid tr.head { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	table.table_grid tr { border-top: 1px solid #fff; width: 100%; }
	table.table_grid td { 
		border: none;
		border-bottom: 1px solid #fff; 
		position: relative;
		padding-left: 1.5rem;
	}
	table.table_grid tr:nth-of-type(even) td { background: #f0f5f7;  }
	table.table_grid tr:nth-of-type(odd) td { background: #f9fbff;  }
}

/* all assumed touch devices
------------------------------------------------------ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5)
{
	.des { display: none !important; }
	.mob { display: block !important; }
	.box_top, .box_top ul, .box_top li {
		width: 100% !important;
		margin:0;
		padding: 0;
		list-style: 0;
		display: block;
	}
	.box_top { background: none !important; }
	.box_top li a {
		display: block;
		padding: 1rem 2rem;
		color: #ddd;
	}
	#side_menu {
	}
	#side_main {
		background: #fff;
	}
	#side_menu ul.subsection li {
		padding-left: 0.2rem;
		opacity: 0.8;
	}
	#hamburger_back {
		margin-right: 2rem !important;
	}
	#frame {
		overflow-x: hidden;
		background: url(../images/menu_back1.jpg) top left #000 !important;
		top: 0;
	}
	#f_pop #search_form2 input.input_text {
		display: none;
	}
	#search_form3 {
		position: absolute;
		top: -5rem;
		width: 100%;
	}
	#search_form3:target {
		top: 0;
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-ms-transition: all 100ms linear;
		-o-transition: all 100ms linear;
		transition: all 100ms linear;
	}
	#search_form3:target + #frame {
		margin-top: 5rem !important;
		-webkit-transition: all 100ms linear;
		-moz-transition: all 100ms linear;
		-ms-transition: all 100ms linear;
		-o-transition: all 100ms linear;
		transition: all 100ms linear;
	}
	#search_form3 input {
		width: 100%;
		height: 5rem;
		margin: 0;
		border: none;
		padding: 1rem;
		box-sizing: border-box;
		color: white;
		background: url(../images/icon-find.png) no-repeat 10% 200% #222 !important;
	}
	#search_form3 input:focus {
		border: none;
		outline: none;
	}
	#move_sidebar {
		padding-left: 0;
	}
	#fcontent_main { overflow: auto !important; }
	h1 { text-align: left; display: block; width: 100%; float: none; margin-top: 0; }
	.bwfloatright { float: none; text-align: left; display: block; clear: both; margin-top: 0;}
	.bwcentertext { text-align: left; }
	.fwidth { width: 98%; margin: 0 auto; }
	.mobile_fullwidth { width: 100%; display: block; }
	.container {
		padding: 1rem 2rem 1rem 1rem;
		position: relative;
	}
	.mob_container {
		clear: both !important;
	}
	.mob_boardicon {
		display: none;
	}
	a.board_on, a.board_off, a.board_redirect, a.board_on2 {
		line-height: 40px;
		text-align: center;
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		background: #eee;
		margin: 1rem 1rem 0.5rem 0.5rem;
		border-radius: 50%;
		z-index: 90;
	}
	a.board_on span.icon-size150, a.board_off span.icon-size150, a.board_redirect span.icon-size150, a.board_on2 span.icon-size150 {
		font-size: 100%;
	}
	.menus_box {
		z-index: 999 !important;
	}
	h3.titlebg, h4.titlebg, .titlebg, h3.subbg, h4.subbg, .subbg,
	h3.catbg, h4.catbg, .catbg {
		padding: 1rem 1.5rem;
	}
	.message_index_title { font-weight: bold; }
}
